<!doctype html>
<html lang="en" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>SHOUNEN</title>
	<link href="https://fonts.googleapis.com/css?family=Anton|PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<nav>
			<h1>SHOUNEN</h1>
			<div id="nav-container">
				<a href="/seinen">Seinen</a>
				<a href="/shoujo">Shoujo</a>
				<a href="/josei">Josei</a>
				<a href="/">Go home</a>
			</div>
		</nav>
		<header id="header">
		</header>
		<section id="jap-genre">
		</section>
		<section>
			<!-- <button id="genre-btn">Show me more Genre's</button> -->
		</section>
		<section id="action-container">
			<article class="manga">
				<% for (let i = 0; i < data.length; i++) { %> 
					<a href="<%= "manga/" + data[i].i %>" class="manga-container item <%= data[i].c[0]%> <%= data[i].c[1]%> <%= data[i].c[2]%>">
						<img class="manga-cover" src="<%= "https://cdn.mangaeden.com/mangasimg/" + data[i].im %>">
					</a>
				<% } %>
			</article>
			</section>
	</body>
	<script src="js/script.js"></script>
</html>